@using Cms.Data.Models.Entities;
@model List<AppointmentEntity>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Appointments</h4>
            </div>
          
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Patient Name</th>
                                @* <th>Age</th> *@
                                <th>Doctor Name</th>
                                <th>Department</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                            
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td> @item.Patient.Name  @item.Patient.Surname</td>
                                    @* <td>35</td> *@
                                    <td>@item.Doctor.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.DateTime</td>
                                    <td>10:00am - 11:00am</td>
                                   
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-appointment.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <form method="post" asp-action="DeleteAppointments" asp-controller="Appointments">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit">Sil</button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>