@using Cms.Data.Models.Entities;
@model List<ServiceBlogEntity>
<style>
    /* CSS ile fotoğraf boyutunu ayarla */
    .doctor-img img {
        max-width: 90px; /* Maksimum genişlik */
        max-height: 100px; /* Maksimum yükseklik */
    }
</style>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Service Blogs</h4>
            </div>

        </div>
        <div class="row">
            <div class="row">

                <div class="col-sm-4 col-8 text-right m-b-30">
                    <a asp-action="AddServiceBlogs" asp-controller="ServiceBlogs" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Service Blog</a>
                </div>


            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>Photo</th>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="doctor-img">
                                            <a class="img-fluid w-100" href="profile.html"><img alt="" src="https://api.canbulanhospital.com/api/file?fileName=@item.ResimDosyaAdi"></a>
                                        </div>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>

                                    <td>@item.Description</td>
                                  

                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <form method="post" asp-action="DeleteServiceBlogs" asp-controller="ServiceBlogs">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit">Sil</button>
                                                </form>
                                                <a class="dropdown-item" asp-action="UpdateServiceBlogs" asp-controller="ServiceBlogs" asp-route-id="@item.Id"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                @*    <a method="post" asp-action="DeleteContacts" asp-controller="Contact" asp-route-id="@item.Id">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit">Sil</button>
                                            </a> *@
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>