
@using Cms.Data.Models.Entities;
@using System.Security.Claims;
@model List<DoctorCommentEntity>
@{
    var userName = User.FindFirstValue(ClaimTypes.Name);
    var userId = User.FindFirstValue(ClaimTypes.PrimarySid);
}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Comments</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a asp-action="AddDoctorComment" asp-controller="DoctorComment" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Comments</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Doctor ID</th>

                                <th>Title</th>
                                <th>Description</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.DoctorId</td>

                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" asp-action="UpdateDepartments" asp-controller="Departments"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                @*  <a method="post" asp-action="DeleteDepartments" asp-controller="Departments" asp-route-id="@item.Id" class="dropdown-item"> Delete</a> *@
                                                <form method="post" asp-action="DeleteDepartments" asp-controller="Departments">
                                                    <input type="hidden" name="id" value="@item.Id" />
                                                    <button type="submit">Sil</button>
                                                </form>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>